.iconContainer {
  display: flex;
  gap: clamp(10px, 3vw, 30px);
  margin-top: 20px;
  border-radius: 10px;
  padding: 8px 14px 8px 14px;
  z-index: 10;
  flex-wrap: wrap; /* Ensure they can wrap safely without stacking one by one */
  justify-content: center;
  align-items: center;
}

.iconSize {
  font-size: clamp(30px, 8vw, 60px);
}

.nextIcon {
  background-color: #fff;
  border-radius: 50%;
  border: 1px solid transparent;
}

.tsIcon {
  font-size: clamp(30px, 8vw, 60px);
  background-color: #fff;
  border-radius: 10px;
  border: 1px solid #2d79c7;
}

@media screen and (max-width: 615px) {
  .iconContainer {
    padding: 5px;
    gap: 15px;
  }
}
