.iconContainer {
  display: flex;
  gap: clamp(8px, 2vw, 30px);
  margin-top: 20px;
  border-radius: 10px;
  padding: 8px 14px;
  z-index: 10;
  flex-wrap: nowrap; /* Do not wrap, keep in one line */
  justify-content: center;
  align-items: center;
  width: 100%;
}

.iconSize {
  font-size: clamp(40px, 10vw, 60px);
}

.nextIcon {
  background-color: #fff;
  border-radius: 50%;
  border: 1px solid transparent;
}

.tsIcon {
  font-size: clamp(40px, 10vw, 60px);
  background-color: #fff;
  border-radius: 10px;
  border: 1px solid #2d79c7;
}

@media screen and (max-width: 615px) {
  .iconContainer {
    padding: 5px;
    gap: 15px;
  }
}
